<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAC Server Manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/scripts/logic.js"></script>
    <script src="../static/scripts/boot.js"></script>
    <script src="../static/scripts/listeners.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/content/site.css">
    <link rel="stylesheet" type="text/css" href="../static/content/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/content/content.css">
</head>

<body>
<div class="Main_Container">
    <div class="Content_Container">
        <button id="But_Connect">Connect</button>
        <button id="But_Disconnect">Disconnect</button>
        <button id="But_Shutdown">Shutdown</button>
    </div>
    <div class="Navbar_Container">
        <h1 id="Title">VAC Server Manager</h1>
        <h2 id="Account">Repository</h2>
        <img src="../static/images/GitHub.png" alt="GitHub" id="GitHub">
    </div>
    <img src="../static/images/PP.png" alt="PP" id="PP">
</div>
</body>
</html>
